*-eps-converted-to.pdf
HY_fysiikka_LuKtemplate.aux
HY_fysiikka_LuKtemplate.bbl
HY_fysiikka_LuKtemplate.blg
HY_fysiikka_LuKtemplate.ilg
HY_fysiikka_LuKtemplate.log
HY_fysiikka_LuKtemplate.nlo
HY_fysiikka_LuKtemplate.nls
HY_fysiikka_LuKtemplate.out
HY_fysiikka_LuKtemplate.pdf
HY_fysiikka_LuKtemplate.toc
HY_fysiikka_LuKtemplate.fdb_latexmk
HY_fysiikka_LuKtemplate.fls
